<!DOCTYPE html>
<html>
    <head>
        <title>Upload</title>
    </head>
    <body>
    <form action="/uploads" method="post" enctype="multipart/form-data">
        <input type="file" name="music" />
        <button type = "submit">Upload</button>
    </form>
    </body>
</html>