<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to uTunes</title>
</head>
<body>
    <%- include('../partials/navbarUser.ejs') %>
    <h1>Welcome to uTunes</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores ut, nulla ipsam totam velit voluptatum non dolor quidem, modi iusto optio illo atque? Laudantium totam laborum, facilis nemo molestias incidunt.</p>    
</body>
</html>