<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/navbarUser.ejs') %>
    <%- include('../partials/tableStyle.ejs') %>
</head>
<body>
    <h3>Your Playlists</h3>
    <table>
    <tr>
        <th>Name</th>
        <th>Artists</th>
        <th>Play</th>
    </tr>  
    </table>
<audio controls>
  <source src="horse.ogg" type="audio/ogg">
  <source src="horse.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</body>
</html>