<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <%- include('../partials/navbarUser') %>
    <h3> <a href="/users/<%=id%> /profile/edit">Edit Profile</a> </h3>
    <h3> <a href="/users/<%=id%> /profile/upgrade">Upgrade Membership</a> </h3>
    <br>
</body>
</html>